
#navbar-consubook .navbar-brand {
	height: auto;
	/*padding: 0px 15px;*/
}

#navbar-consubook .navbar-brand img {
    max-height: 50px;
	background-size: cover;
}

@media (max-width: 991px) {

    #navbar-consubook .navbar-brand img {
    	max-height: 43px;
	}
}

@media (min-width: 768px) {
    
    #consubook-btn-search {
    	width: 270px;
    }
}

@media (min-width: 992px) {
    
    #consubook-btn-search {
    	width: 420px;
    }
}

.inline-block-middle {

    display: inline-block;
    vertical-align: middle;
    float: none;
}

.popover-validation {

}

.popover-validation ul {
    list-style-type: none!important;
    -webkit-padding-start: 0;
    margin-bottom: 0!important;
}

.popover-validation .glyphicon-ok {
    color: green;
}

.popover-validation .glyphicon-remove {
    color: red;
}

input.ng-invalid.ng-dirty {
    border-color: #b00!important;
    color: #b00!important;
}

.success {
    color: #73a839;
}

.danger {
    color: #c71c22;
}

@media (max-width:767px) { 

    .fix-margin-xs {
        margin-bottom: 15px;
    }

}

.selectpicker {
    border: 1px solid #cccccc;
}

/* Alinea correctamente el icono a la derecha del control que esta en esta estructura de clases (que es para mostrar controles en forma horizontal alineada) */
.form-group.row>div.has-feedback .glyphicon-ok, .form-group.row>div.has-feedback .glyphicon-remove {
    right: 15px;
}

.singup-captcha .glyphicon-refresh {
    cursor: pointer;
    font-size: 20px;
    color: #54b4eb;
}

.singup-captcha .glyphicon-refresh:hover {
    color: #1d9ce5;
}

.singup-captcha .active {
    font-size: 18px;
}

/* ===== Fuerza a los botones de la barra de navegación alineados a la derecha a estar alineados a la derecha cuando pantalla tiene dimensions XS =====*/
.navbar-btn.navbar-right {
    float: right;
}

.modal-header {
    background-image: -webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#54b4eb), color-stop(60%, #2fa4e7), to(#1d9ce5));
    background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff54b4eb', endColorstr='#ff1d9ce5', GradientType=0);
    background-repeat: no-repeat;
    border-bottom: 1px solid #178acc;
}

.modal-header .close {
    color: #fff;
    font-size: 24px;
    opacity: 1;
    filter: alpha(opacity=100);
}

.modal-title {
    color: #fff;
}

#searchBooks .thumbnail > img {
    max-height: 250px;
}

.inline-block {
    vertical-align: top;
    float: none;
    display: inline-block;
}

#book .thumbnail img, #book .img-responsive {
    max-height: 400px;
}