
#navbar-brand-consubook {
	height: auto;
	padding: 0px 15px;
}

#navbar-brand-consubook img {
    height: 50px;
	width: 110px;
	background-size: cover;
}

@media (max-width: 767px) {

    #navbar-brand-consubook {
    	padding: 7px 15px 1px 15px;
    }
}

@media (min-width: 768px) {
    
    #consubook-btn-search {
    	width: 230px;
    }
}

@media (min-width: 992px) {
    
    #consubook-btn-search {
    	width: 400px;
    }
}